# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Python build
build/
dist/
*.egg-info/